<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Tuber</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="logo.png" alt="Logo">
            <h2>Train Tuber</h2>
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/news">News</a>
            <a href="/std">Special Train Details</a>
            <a href="/videos">Videos</a>
            <a href="/about" class="active">About</a>
        </nav>
    </header>

    <div class="container">
        <h1>About Train Tuber</h1>
        <ul class="news-list">
           <li><span class="highlight">Train Tuber</span> is a dedicated platform for railway lovers, offering a rich blend of blogs, news, images, and videos related to Indian Railways. Whether you're a railway enthusiast, traveler, or industry professional, Train Tuber keeps you updated with the latest happenings, rare railway moments, and engaging content from the world of trains.</li>
        </ul>
        <h1>Vision</h1>
        <ul class="news-list">
            <li>To be the most comprehensive and engaging digital platform for train enthusiasts, providing real-time updates, captivating visuals, and insightful stories about Indian Railways</li>
        </ul>
        <h1>Mission</h1>
            <ul class="news-list">
                <li>1) <span class="highlight">Deliver Authentic & Up-to-Date Information</span> Provide accurate news, announcements, and real-time updates on Indian Railways.</li>
                <li>2) <span class="highlight">Showcase the Beauty of Railways</span> Offer an extensive gallery of stunning railway images, historical trains, and modern advancements.</li>
                <li>3) <span class="highlight">Engage Enthusiasts with Videos</span> Feature high-quality train-related videos, from documentaries to on-the-ground experiences.</li>
                <li>4) <span class="highlight">Educate & Inspire</span> Share knowledge about railway history, technology, and upcoming innovations in the rail sector.</li>
            </ul>
    </div>

    <footer>
        <div class="social-icons">
            <a href="https://youtube.com/@traintuber?si=sknCWtsY57DGPSQv" target="_blank">
                <img src="youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/train_tuber/?igsh=MWw0Nmh5dzVxbHh4OQ==" target="_blank">
                <img src="instagram.png" alt="Instagram">
            </a>
        </div>
        <p>© Train Tuber</p>
        <p>For Queries, Contact : enquirytraintuber@gmail.com</p>
    </footer>

</body>
</html>
