<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Tuber</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="logo.png" alt="Logo">
            <h2>Train Tuber</h2>
        </div>
        <nav class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/news">News</a>
            <a href="/videos">Videos</a>
            <a href="/about">About</a>
        </nav>
    </header>

    <div class="container">
        <h1>Blog 2 Tittle</h1>
        <p>1) 168+ Years Old Nilgiri Express Now To Run With Updated LHB Coaches.</p>
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="social-icons">
            <a href="https://youtube.com/@traintuber?si=sknCWtsY57DGPSQv" target="_blank">
                <img src="youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/train_tuber/?igsh=MWw0Nmh5dzVxbHh4OQ==" target="_blank">
                <img src="instagram.png" alt="Instagram">
            </a>
        </div>
        <p>© Train Tuber</p>
        <p>For Queries, Contact : enquirytraintuber@gmail.com</p>
    </footer>

</body>
</html>
