<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Tuber</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="logo.png" alt="Logo">
            <h2>Train Tuber</h2>
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/news" class="active">News</a>
            <a href="/videos">Videos</a>
            <a href="/about">About</a>
        </nav>
    </header>

    

    <div class="container">
        <h1>Latest Train News</h1>
        <ul class="news-list">
            <li>1) <span class="highlight">Southern Railway</span> launching special <span class="red-text">ticket checking drive</span>, and fines will be imposed on passengers traveling <span class="red-text">without a proper ticket</span> under the <span class="highlight">Railways Act 1989</span>.</li>
            <li>2) <span class="highlight">Pamban Bridge</span> is expected to be inaugurated by <span class="red-text">March 2025</span>.</li>
            <li>3) 22615/16<span class="highlight"> Coimbatore-Tirupati Intercity Express</span>, and 17229/30<span class="highlight"> Sabari Express</span> will be <span class="red-text">LHBified</span> Within <span class="red-text">April 15, 2025</span>.</li>
        </ul>
    </div>

    <footer>
        <div class="social-icons">
            <a href="https://youtube.com/@traintuber?si=sknCWtsY57DGPSQv" target="_blank">
                <img src="youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/train_tuber/?igsh=MWw0Nmh5dzVxbHh4OQ==" target="_blank">
                <img src="instagram.png" alt="Instagram">
            </a>
        </div>
        <p>© Train Tuber</p>
        <p>For Queries, Contact : enquirytraintuber@gmail.com</p>
    </footer>

</body>
</html>
