<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Tuber</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="logo.png" alt="Logo">
            <h2>Train Tuber</h2>
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/news" >News</a>
            <a href="/std" class="active">Special Train Details</a>
            <a href="/videos">Videos</a>
            <a href="/about">About</a>
        </nav>
    </header>

    <div class="container">
        <h1>Special Train Details</h1>
        <ul class="news-list">
            <li>
            
            <table class="train-table">
                <tr>
                    <th colspan="3">Train Name :- Trichy - Tambaram - Trichy Tri-Weekly Special</th>
                </tr>
                <tr>
                    <td>Train Number - 06190</td>
                    <td></td>
                    <td>Train Number - 06191</td>
                </tr>
                <tr>
                    <td><h4>Timing Details (↓)</h4></td>
                    <td><h4>Station Name</h4></td>
                    <td><h4>Timing Details (↑)</h4></td>
                </tr>
                <tr>
                    <td>05:35AM (D)<br>Fri, Sat, Sun</td>
                    <td><span class="highlight">Trichy</span></td>
                    <td>10:40PM (A)<br>Fri, Sat, Sun</td>
                </tr>
                <tr>
                    <td>06:24/06:25AM</td>
                    <td><span class="red-text">Thanjavur</span></td>
                    <td>09:13/09:15PM</td>
                </tr>
                <tr>
                    <td>06:46/06:47AM</td>
                    <td>Papanasam</td>
                    <td>08:30/08:32PM</td>
                </tr>
                <tr>
                    <td>06:58/07:00AM</td>
                    <td>Kumbakonam</td>
                    <td>08:18/08:20PM</td>
                </tr>
                <tr>
                    <td>07:28/07:30AM</td>
                    <td><span class="red-text">Mayiladuthurai</span></td>
                    <td>07:50/07:52PM</td>
                </tr>
                <tr>
                    <td>07:52/07:53AM</td>
                    <td>Sirkazhi</td>
                    <td>07:26/07:27PM</td>
                </tr>
                <tr>
                    <td>08:08/08:10AM</td>
                    <td>Chidambaram</td>
                    <td>07:10/07:12PM</td>
                </tr>
                <tr>
                    <td>08:53/08:55AM</td>
                    <td>Tiruppadiripuliyur</td>
                    <td>06:33/06:35PM</td>
                </tr>
                <tr>
                    <td>09:14/09:15AM</td>
                    <td>Panruti</td>
                    <td>06:13/06:14PM</td>
                </tr>
                <tr>
                    <td>09:55/10:05AM</td>
                    <td><span class="red-text">Villupuram</span></td>
                    <td>05:40/05:50PM</td>
                </tr>
                <tr>
                    <td>10:33/10:35AM</td>
                    <td>Tindivanam</td>
                    <td>05:03/05:05PM</td>
                </tr>
                <tr>
                    <td>10:58/11:00AM</td>
                    <td>Melmaruvathur</td>
                    <td>04:38/04:40PM</td>
                </tr>
                <tr>
                    <td>11:28/11:30AM</td>
                    <td><span class="red-text">Chengalpattu</span></td>
                    <td>04:13/04:15PM</td>
                </tr>
                <tr>
                    <td>12:30PM (A)<br>Fri, Sat, Sun</td>
                    <td><span class="highlight">Tambaram</span></td>
                    <td>03:45PM (D)<br>Fri, Sat, Sun</td>
                </tr>
            </table>
        </li>
    </ul>

        <ul class="news-list">
        <li>
        
        <table class="train-table">
            <tr>
                <th colspan="3">Train Name :- Charlapalli - Kanniyakumari - Charlapalli Weekly Special</th>
            </tr>
            <tr>
                <td>Train Number - 07230</td>
                <td></td>
                <td>Train Number - 07229</td>
            </tr>
            <tr>
                <td><h4>Timing Details (↓)</h4></td>
                <td><h4>Station Name</h4></td>
                <td><h4>Timing Details (↑)</h4></td>
            </tr>
            <tr>
                <td>09:50PM (D)<br>Wednesday</td>
                <td><span class="highlight">Charlapalli (Hyderabad)</span></td>
                <td>11:40AM (A)<br>Saturday</td>
            </tr>
            <tr>
                <td>11:18/11:20PM</td>
                <td>Nalgonda</td>
                <td>08:48/08:50AM</td>
            </tr>
            <tr>
                <td>11:44/11:45PM</td>
                <td>Miryalaguda</td>
                <td>08:05/08:06AM</td>
            </tr>
            <tr>
                <td>12:06/12:07AM</td>
                <td>Nadikude</td>
                <td>06:04/06:05AM</td>
            </tr>
            <tr>
                <td>12:49/12:50AM</td>
                <td>Sattenapalle</td>
                <td>05:44/05:45AM</td>
            </tr>
            <tr>
                <td>02:30/02:40AM</td>
                <td><span class="red-text">Guntur</span></td>
                <td>04:50/05:00AM</td>
            </tr>
            <tr>
                <td>03:23/03:25AM</td>
                <td><span class="red-text">Tenali</span></td>
                <td>04:25/04:27AM</td>
            </tr>
            <tr>
                <td>04:03/04:05AM</td>
                <td>Chirala</td>
                <td>02:48/02:50AM</td>
            </tr>
            <tr>
                <td>04:53/04:55AM</td>
                <td>Ongole</td>
                <td>01:58/02:00AM</td>
            </tr>
            <tr>
                <td>11:10/11:15PM</td>
                <td><span class="red-text">Katpadi</span></td>
                <td>08:00/08:05PM</td>
            </tr>
            <tr>
                <td>12:40/12:42PM</td>
                <td>Tiruvannamalai</td>
                <td>06:00/06:02PM</td>
            </tr>
            <tr>
                <td>01:55/02:05PM</td>
                <td><span class="red-text">Villupuram</span></td>
                <td>04:50/05:00PM</td>
            </tr>
            <tr>
                <td>02:43/02:45PM</td>
                <td>Tiruppadiripuliyur</td>
                <td>03:53/03:55PM</td>
            </tr>
            <tr>
                <td>03:26/03:28PM</td>
                <td>Chidambaram</td>
                <td>03:18/03:20PM</td>
            </tr>
            <tr>
                <td>04:23/04:25PM</td>
                <td><span class="red-text">Mayiladuthurai</span></td>
                <td>02:43/02:45PM</td>
            </tr>
            <tr>
                <td>04:52/04:54PM</td>
                <td>Kumbakonam
                <td>02:00/02:02PM</td>
            </tr>
            <tr>
                <td>05:42/05:44PM</td>
                <td><span class="red-text">Thanjavur</span></td>
                <td>01:00/01:02PM</td>
            </tr>
            <tr>
                <td>07:05/07:15PM</td>
                <td><span class="red-text">Trichy</span></td>
                <td>12:05/12:15PM</td>
            </tr>
            <tr>
                <td>08:40/08:45PM</td>
                <td><span class="red-text">Dindigul</span></td>
                <td>11:00/11:05AM</td>
            </tr>
            <tr>
                <td>09:03/09:05PM</td>
                <td>Kodaikanal Road</td>
                <td>10:28/10:30AM</td>
            </tr>
            <tr>
                <td>09:45/09:50PM</td>
                <td><span class="red-text">Madurai</span></td>
                <td>09:50/09:55AM</td>
            </tr>
            <tr>
                <td>10:28/10:30PM</td>
                <td><span class="red-text">Virudunagar</span></td>
                <td>09:03/09:05AM</td>
            </tr>
            <tr>
                <td>10:48/10:50PM</td>
                <td>Satur</td>
                <td>08:38/08:40AM</td>
            </tr>
            <tr>
                <td>11:08/11:10PM</td>
                <td>Kovilpatti</td>
                <td>08:18/08:20AM</td>
            </tr>
            <tr>
                <td>12:20/12:25AM</td>
                <td><span class="red-text">Tirunelveli</span></td>
                <td>07:25/07:30AM</td>
            </tr>
            <tr>
                <td>12:57/12:58AM</td>
                <td>Valliyur</td>
                <td>05:10/05:20AM</td>
            </tr>
            <tr>
                <td>01:20/01:25AM</td>
                <td><span class="red-text">Nagercoil</span></td>
                <td>05:35/05:40AM</td>
            </tr>
            <tr>
                <td>02:30AM (A)<br>Friday</td>
                <td><span class="highlight">Kanniyakumari</span></td>
                <td>05:15AM (D)<br>Friday</td>
            </tr>
        </table>
    </li>
</ul>
    </div>

    <footer>
        <div class="social-icons">
            <a href="https://youtube.com/@traintuber?si=sknCWtsY57DGPSQv" target="_blank">
                <img src="youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/train_tuber/?igsh=MWw0Nmh5dzVxbHh4OQ==" target="_blank">
                <img src="instagram.png" alt="Instagram">
            </a>
        </div>
        <p>© Train Tuber</p>
        <p>For Queries, Contact : enquirytraintuber@gmail.com</p>
    </footer>

</body>
</html>