<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Tuber</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="logo.png" alt="Logo">
            <h2>Train Tuber</h2>
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/news">News</a>
            <a href="/std">Special Train Details</a>
            <a href="/videos" class="active">Videos</a>
            <a href="/about">About</a>
        </nav>
    </header>

    <section class="video-section">
        <h2>This Month</h2>
        <p>Some of the Recent Train Videos That You May Like !</p>
        <div class="video-grid">
            <iframe src="https://www.youtube.com/embed/o4Tn6txGV6Y" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/WBUrKyYqivw" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/TIv-hEAyhig" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <!-- Video Section -->
    <section class="video-section">
        <h2>Popular Train Videos</h2>
        <p>Some of the Popular Train Videos That You May Like !</p>
        <div class="video-grid">
            <iframe src="https://www.youtube.com/embed/mVTmwOb29RU" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/WyCg5hNsx5Q" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/1zBmGefdwaY" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/tAqNdM2Hupo" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/NooUPWYnT-0" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/BHBzzn0qwz4" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="social-icons">
            <a href="https://youtube.com/@traintuber?si=sknCWtsY57DGPSQv" target="_blank">
                <img src="youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/train_tuber/?igsh=MWw0Nmh5dzVxbHh4OQ==" target="_blank">
                <img src="instagram.png" alt="Instagram">
            </a>
        </div>
        <p>© Train Tuber</p>
        <p>For Queries, Contact : enquirytraintuber@gmail.com</p>
    </footer>

</body>
</html>
